<h1>Adding new Employee</h1>
<form method="post">
    <input type="text" name="FirstName" id="FirstName"/>
    <input type="text" name="LastName" id="LastName"/>
    <input type="text" name="Address" id="Address"/>
    <input type="text" name="Email" id="Email"/>
    <input type="submit" name="Add"/>
</form>